/* app.css */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-wrapper {
  display: flex;
  flex: 1; /* Ensure it takes remaining height */
  transition: margin-left 0.3s ease;
}

.content-shifted {
  margin-left: 30rem;
}

@media screen and (max-width: 768px) {
  .content-shifted {
    margin-left: 20rem; /* Adjusted for md:!w-80 */
  }
}

@media screen and (max-width: 640px) {
  .content-shifted {
    margin-left: 100%;
  }
}

.main-content {
  flex: 1;
  padding: 1rem;
  min-height: 100%;
  overflow: auto; /* Allow scrolling if content overflows */
}

:host ::ng-deep .p-drawer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

:host ::ng-deep .logout-item .p-menuitem-icon,
:host ::ng-deep .logout-item i.pi-sign-out {
  color: red !important;
}

:host ::ng-deep router-outlet + * {
  display: block;
  width: 100%;
  min-height: 100%;
}